
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MM FASHION BAGS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body class="body">
    <div id="contenedor">
        <div class="header">
            <div><h1 class="encabezado">MM Fashion Bags</h1></div>
            <img src="Media/logo_rnd.png" height="75" width="90" alt="Logo_MMFB"/>
        </div>
        <div class="nav">
            <ul class="menu">
                <li><a href="#"><i class="bi-shop-window"></i></a></li>
                <li><a href="#">Enlace</a></li>
                <li><a href="#">Enlace</a></li>
                <li><a href="#">Enlace</a></li>
            </ul>
        </div>  
        <div class="contain">
            <img class="banner" src="/Web/Media/banner-sample.png"/>
            <ul>
            <div><li class="articulo">
                <img class="static" src="Media/b1.png"/>
            </li></div>
            <div><li class="articulo">
                <img src="Media/b2.png"/>
            </li></div>
            <div><li class="articulo">
                <img src="Media/b3.png" />
            </li></div>
            <div><li class="articulo">Articulo 4</li></div>
            <div><li class="articulo">Articulo 5</li></div>
            <div><li class="articulo">Articulo 6</li></div>
            </ul>  
        </div>
        <div class="footer">
            <ul class="footer">
                <li><a href="#">Enlace</a></li>
                <li><a href="#">Enlace</a></li>
                <li><a href="#">Enlace</a></li>
            </ul>
        </div>
    </div>
    
</body> 
</html>